.wheel-body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: size;
}

.wheel-circle {
  width: 10rem;
  height: 10rem;
  background-color: orange;
  border-radius: 50%;
  z-index: 10;
  opacity: 0.9;
}

.inner-circle {
  position: absolute;
  height: 80%;
  aspect-ratio: 1/1;
  border: 0.5rem solid palegoldenrod;
  border-radius: 50%;
}

/* next make it smooth when you stop hovering in the middle of animation */
.floater {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 1s ease-out;
  z-index: 5;
}

.floater.animate-spiral {
  transform: translate(calc(50% - 50px), calc(50% - 50px)) rotate(var(--rotate))
    translateY(-40cqh);
  transition-duration: 1s;
}

.floater.animate-straight {
  transform: translate(calc(50% - 50px), calc(50% - 50px))
    translateX(var(--translate-x)) translateY(var(--translate-y));
  transition-duration: 1s;
}

/* next add one that goes striaaght out

.floater.animate0straight {
  transform: translate(var(--translate-x), var(--translate-y));
  transition-duration: 3s;
}

            style={{
              "--translate-x": `${translateX}px`,
              "--translate-y": `${translateY}px`,
            }}


            let distance = 40; // Distance from the center of the circle
        let translateX = Math.cos(angle) * distance;
        let translateY = Math.sin(angle) * distance;
        
*/
/* 
.floater.animate {
  transform: translate(40cqh) rotate(var(--rotate));
  transition-duration: 3s;
}
 */

/* animation: circle_around 3s infinite; */

/* 
.wheel-circle:hover + .floater {
  transform: translate(40cqh);
  transition-duration: 3s;
  /* transform: vibrate(1s 2s infinite); */
/* vibrate 1s 2s infinite; */

@keyframes deactivate {
  /* from {
    transform: translate(40cqh);
  } */
  to {
    transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(40cqh);
  }
  25% {
    transform: translate(calc(40cqh - 5px), -5px);
  }
  50% {
    transform: translate(40cqh, 5px);
  }
  75% {
    transform: translate(calc(40cqh + 5px), -5px);
  }
  100% {
    transform: translate(40cqh);
  }
}

/* $randomNumber: random(5); */

@keyframes circle_around {
  0% {
    rotate: 0deg;
    transform: translate(calc(40cqh));
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
    transform: translate(calc(40cqh));
    rotate: 360deg;
  }
}
