@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.personal-pfp {
  /* pointer-events: none; */
  border-radius: 0.85rem;
  height: 75%;
  width: auto;
  flex: 0 0 auto;
}

@media (prefers-reduced-motion: no-preference) and (hover: hover) {
  .personal-pfp:hover {
    animation: personal-pfp-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding-right: 2rem;
  padding-left: 2rem;
  color: white;
}

.app-body {
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;

  justify-content: center;
}
.background-container {
  position: relative;
  width: 100%; /* Adjust based on your layout */
  height: 100vh; /* Adjust based on your layout */
  background-image: url("content/home_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.still-navigation-body {
  width: 100vw;
  height: 95vh;
  @apply grid grid-cols-3;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dynamic-navigation-body {
  width: 100vw;
  height: 95vh;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.hover-target {
  position: absolute;
  top: 50%; /* Adjust to target specific area */
  left: 50%; /* Adjust to target specific area */
  width: 100px; /* Adjust based on your needs */
  height: 100px; /* Adjust based on your needs */
  background-color: red;
  cursor: pointer; /* Shows a pointer cursor on hover */
}

.hover-target:hover {
  /* Example effect: change opacity, could trigger animation or other changes */
  opacity: 0.5; /* This is just for demonstration */
}

@keyframes personal-pfp-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
